.expense-summary {
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: $dark-green;
    border-radius: 20px;
    color: white;

    width: 400px;

    @media (max-width: 425px) {
        width: fit-content;
    }
    
    h3 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}