// Colors
$light-gray: rgb(247, 241, 241);
$dark-green: rgb(58, 179, 37);
$mid-green: rgb(183, 240, 173);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// font sizes
$font-small: 1.6rem;


//breakpoints
$desktop-breakpoint: 680px;